* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    font-weight: 700;
    font-size: x-large;
    padding: 0;
}

.container {
    margin-bottom: 83px;
    margin-top: 50px;
}

#proj {
    background-color: burlywood;
    width: 100%;
    height: fit-content;
    margin: 20px;
    padding: 80px;
    border: solid 5px grey;
    border-radius: 5px;
    line-break: normal;

}


div h1 {
    margin: 0 0 4px 0;
}

.footer {
    height: 122px;
    padding: 30px 0 10px 47%;
    border: solid 1px;
    background-color: rgb(77, 75, 75);
}

#fb {
    /* border: solid 1px black; */
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding: 5px;
    /* display: flex; */
}

#ig {
    /* border: solid 1px black; */
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding: 5px;
    /* display: flex; */
}

#github {
    /* border: solid 1px black; */
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: 5px;
}

.ft {
    display: flex;
    flex-direction: row;
}