*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    /* padding: 0; */
}
.container{
    margin-bottom: 19.5%;
    margin-top: 5%;
}
.hpr{
    margin-left: -10px;
}
#proj{
    background-color: burlywood;
    padding: 50px;
    display: flex;
    height: 150px;
    width: 350px;
    margin-left: 38%;
    text-align: justify;
    border:solid 5px grey;
    border-radius: 5px;
}
.footer{
    height: 122px;
    padding: 30px 0 10px 47%;
    border: solid 1px;
    background-color: rgb(77, 75, 75);
}
#fb{
    /* border: solid 1px black; */
    width: fit-content;
    height: fit-content;
    margin:5px;
    padding: 5px;
    /* display: flex; */
}
#ig{
    /* border: solid 1px black; */
    width: fit-content;
    height: fit-content;
    margin:5px;
    padding: 5px;
    /* display: flex; */
}
#github{
    /* border: solid 1px black; */
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin:5px;
}
.ft{
    display: flex;
    flex-direction: row;
}