.container-fluid{
    font-weight: 700;
    font-size: x-large;
}
.home{
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
}
img{
 height:500px;
 padding-left: 500px;
}