* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid {
    font-weight: 700;
    font-size: x-large;
    padding: 0;
}

.home {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    height: 500px;
    border: solid 5px gray;
    border-radius: 5px;
    margin: 100px;
}

.footer {
    height: 122px;
    padding: 30px 0 10px 50%;
    border: solid 1px;
    background-color: rgb(77, 75, 75);
}

#fb {
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding: 5px;
}

#ig {
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding: 5px;
}

#github {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: 5px;
}

.ft {
    display: flex;
    flex-direction: row;
}